# Xcode
DerivedData/
*.xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods / Carthage (if any)
Pods/
Carthage/Build/

# Fastlane (if any)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# macOS
.DS_Store
